.main_container {
  background-color: #b99173;
  height: max-content;
  width: 100%;
  overflow-x: hidden;
}
.main_header {
  padding: 10px 100px;
}
/* .footer {
  width: 100%;
  text-align: center;
} */
