.home_container {
  height: 100vh;
  overflow: hidden;
}
.carousel {
  height: 100%;
}
.carousel_caption {
  height: 60%;
  text-align: left !important;
  color: white !important;
  z-index: 2000;
}
.carousel_caption h1 {
  font-size: 70px !important;
}
.carousel_caption i {
  font-size: 50px;
  float: right;
  cursor: pointer;
}
.item::after {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.527);
  z-index: 10;
  content: "";
  width: 100%;
  height: 100%;
}
