* {
  font-family: "Tenor Sans";
  font-style: normal;
}
.card {
  border-radius: 10px 10px 10px 40px !important;
  margin: 20px 0;
  cursor: pointer;
}
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.card h5 {
  color: black;
  margin: 0;
}

.card p {
  font-family: "Tenor Sans";
  font-style: normal;
  font-size: 20px;
  color: #ca5903;
  text-align: center;
  z-index: 1;
}
.restaurant_detail_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restaurant_description {
  padding: 20px;
}
.restaurant_detail_container {
  height: 100%;
  overflow: hidden;
}
