.card {
  border-radius: 10px 10px 10px 40px !important;
  background: #f8eee4;
  margin: 20px 0;
  position: relative;
  cursor: pointer;
}

.card h5 {
  color: #b99173;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.3px;
}
.card p {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115.5%;
  display: flex;
  align-items: center;
  letter-spacing: -0.3px;
}
