* {
  text-decoration: none !important;
}
.link_container {
  display: flex;
  flex-direction: column;
  background-color: #a56c50;
  height: 90vh;
  padding: 10px;
}
.link_item {
  color: white;
  width: 100%;
  margin: 20px 0;
  padding: 15px;
  border-right: 2px solid #073e0d;
  text-align: center;
  color: #f8eee4;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
.link_item:hover {
  background-color: #073e0d;
  border-right: 2px solid white;
  color: white;
  padding-left: 30px;
  border-radius: 6px;
}

.bgColor {
  background-color: #073e0d;
}
